
/* GENERAL ######################################################################################################################################################### */
/* COMMON ###################################################################### */
/* FONTS ####################################################################### */
/* COLORS ###################################################################### */
/* %SPECIFIC_SECTION% ########################################################## */
/* %PAGE%.HTML ##################################################################################################################################################### */
/* %OTHER% ########################### */
/* RESPONSIVE_DESIGN | MEDIA_QUERIES ################################################################################################################################*/
/* MEDIUM_DEVICES (TABLETS, LESS/EQUAL THAN 1024px) ############################ */
/* @media (max-width: 1024px) {} */
/* SMALL_DEVICES (PHONES, LESS/EQUAL THAN 768px) ############################### */
/* @media (max-width: 767.98px) {} */
/* %SPECIFIC_SECTION% ########################################################## */
/* border: 5px solid black; */





/* GENERAL ######################################################################################################################################################### */

/* COMMONS ##################################################################### */

* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    list-style-type: none;
}
.step_p, .food_list, .food_qty {
    font-size: 14px;
}
header,
.recipe_time,
.article_content,
.recipe_step,
.recipe_food,
.food_list {
    display: flex;
    flex-direction: column;
}
header, .recipe_time {
    justify-content: center;
    align-items: center;
}
header,
.link_ico,
h1,
nav,
.filters_form,
.filters_ico,
.article_img {
    position: relative;
}
.head_link,
.search + button,
.filters_ico::after,
.recipes_nb,
.recipe_time {
    position: absolute;
}
.search, .search + button, select {
    border-radius: 11px;
}
header, .recipes_nb, h2 {
    font-family: var(--anton);
}
.search, select, article {
    font-family: var(--manrope);
}
h1, h2, .food_qty {
    font-weight: 400;
}
:root {

/* COLORS ###################################################################### */

    --black: #1B1B1B;
    --yellow: #FFD15B;
    --article_grey: #7A7A7A;
    --main_grey: #E5E5E5;

/* FONTS ####################################################################### */
    
    --anton: 'Anton', sans-serif;
    --manrope: 'Manrope', sans-serif;
}

/* BODY ######################################################################## */

body {
    width: 1440px;
    margin: auto;
}

/* HEADER ###################################################################### */

header {
    height: 667px;
    background-image: url("./img/header_back.png");
}
.head_link {
    top: 46px;
    left: 69px;
    font-size: 28px;
    color: white;
}
.link_p {
    display: inline;
}
.link_ico {
    left: 7px;
}
h1 {
    top: 20px;
    text-align: center;
    font-size: 44px;
    color: var(--yellow);
}
nav {
    top: 40px;
}
.search {
    width: 954px;
    height: 72px;
    padding-left: 35px;
    font-size: 16px;
}
.search + button {
    top: 10px;
    right: 10px;
    width: 51px;
    height: 52px;
    background: var(--black) center no-repeat url("./img/glass.png");
}

/* MAIN ######################################################################## */

main {
    padding: 0px 104px 0px 104px;
    background-color: var(--main_grey);
}

/* FILTERS_AREA ################################################################ */

.filters_form {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 20px 0px 60px 0px;
}
.filters_ico::after{
    top: 17px;
    right: 16px;
    content: url('./img/arrow.svg');
}
select {
    height: 56px;
    padding: 17px 95px 17px 16px;
    appearance: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
    background: white;
}
.recipes_nb {
    right: 0px;
    font-size: 21px;
    color: var(--black);
}

/* RECIPES_AREA ################################################################ */

.recipes_area {
    display: grid;
    grid-template-columns: 34.5% 34.5% 34.5%;
}
article {
    width: 380px;
    height: 731px;
    margin-bottom: 40px;
    border-radius: 21px;
    background: white;
    box-shadow: 0px 4px 34px 30px #0000000A;
}
.article_img {
    height: 253px;
}
.recipe_time {
    top: 21px;
    right: 21px;
    width: 63px;
    height: 26px;
    border-radius: 14px;
    font-size: 12px;
    background: var(--yellow);

}
.recipe_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 21px 21px 0px 0px;
}
.article_content {
    gap: 32px;
    margin: 30px 30px 30px 20px;
    height: 500px;
}
h2 {
    font-size: 18px;
}
.recipe_step {
    gap: 10px;
    height: 107px;
    overflow: hidden;
}
h3 {
    font-size: 12px;
    font-weight: 700;
    color: var(--article_grey)
}
.recipe_food {
    gap: 10px;
}
.food_list {
    flex-wrap: wrap;
    gap: 20px;
    height: 190px;
    font-weight: 500;
}
.food_qty {
    color: var(--article_grey);
}

/* %SPECIFIC_SECTION% ########################################################## */

/* ? */

/* RESPONSIVE_DESIGN | MEDIA_QUERIES ################################################################################################################################*/
/* MEDIUM_DEVICES (TABLETS, LESS/EQUAL THAN 1024px) ############################ */
@media (max-width: 1024px) {}
/* SMALL_DEVICES (PHONES, LESS/EQUAL THAN 768px) ############################### */
@media (max-width: 767.98px) {}
/* %SPECIFIC_SECTION% ########################################################## */
